/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
	 height: 100px;
 }

 body {
	margin: 0;
	background-color: white;
}
.flex{
  display: flex;
}

.none {
	display: none;
}

input {
    font-size: 16px;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	background: none;
}
p {
	font-size: 16px;
	margin: 0;
}
h4 {
	font-size: 0.8em;
	font-weight: normal;
	color: #8C9298;
}
a {
	text-decoration: none;
	color: #464E58;
}
a:hover{
    text-decoration: none;
    color: #464E58;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
i {
	color: #464E58;
}

.center {
	text-align: center;
}

.inline-block {
	display: inline-block;
}
