// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skill-container {
  width: 1150px;
  margin: 0 auto;

  .skill-add-container {
    text-align: center;
    margin-top: 30px;
    .skill-add-btn {
      display: inline-block;
      font-size: 40px;
      font-weight: bold;
      color: white;
      border-radius: 50%;
      box-shadow: 0 0 0 8px #fda299;
      width: 50px;
      height: 50px;
      background-color: #ff6a5c;
      cursor: pointer;
    }
  }
}

.skills {
  .skill-block {
    display: inline-block;
    margin: 20px 5px;
    span {
      display: inline-block;
      height: 50px;
      vertical-align: top;
      line-height: 50px;
    }
    .skill-name {
      margin-left: 5px;
      width: 160px;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.skill-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #ff6a5c;
  .input-container {
    
    label {
      vertical-align: top;
      font-weight: bold;
      display: block;
      width: 130px;
    }
  }
  input {
    font-size: 20px;
    border: solid 1px lightgray;
    width: 250px;
    height: 30px;
    background-color: white;
  }
  .btn-container {
    text-align: center;
    margin-top: 20px;
    .skill-submit-btn {
      vertical-align: top;
      border: solid 1px #464E58;
      background-color: #ff6a5c;
      height: 40px;
      width: 120px;
      color: white;
      cursor: pointer;
    }
    .skill-cancel-btn {
      display: inline-block;
      border: solid 1px #464E58;
      background-color: white;
      line-height: 40px;
      height: 40px;
      width: 120px;
      cursor: pointer;
    }
  }

  div {
    width: 90%;
    margin: 0 auto;
  }
}

.file-select {
  display: inline-block !important;
  border: solid 3px #ff6a5c;
  background-color: #ff6a5c;
  color: white;
}