// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: calc(100% - 100px);
  margin: 0 auto;
}

.profile-container {

  span img {
    margin: 50px;
  }

  .profile {
    width: calc(100% - 350px);
    vertical-align: top;
    height: 200px;
    margin: 50px 0;
  }

  .user-content {
    width: calc(100% - 100px);
    margin: 0 auto;
  }
}

.work-container {
  span {
    width: 50%;
    text-align: center;
    margin-top: 10px;
  }

  .work-right-content {
    width: 49%;
    height: 300px;
    vertical-align: top;
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
  }

  .work-scroll {
    width: 250px;
    height: 600px;
    overflow: scroll;

    ul li {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      height: 60px;
      line-height: 60px;
      border: solid 1px black;
    }

    .selected-work {
      background-color: lightgray;
    }
  }

  .work-content {
    height: 600px;
    width: calc(100% - 260px);
    vertical-align: top;
    overflow: scroll;
  }
}
