// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.work-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #ff6a5c;
  .input-container {
    .input-url {
      width: 380px;
    }
    label {
      vertical-align: top;
      font-weight: bold;
      display: block;
      width: 200px;
    }
  }
  input.input-work {
    font-size: 20px;
    border: solid 1px lightgray;
    width: 250px;
    height: 30px;
    background-color: white;
  }
  textarea {
    font-size: 20px;
    border: solid 1px lightgray;
    width: 380px;
  }
  .btn-container {
    text-align: center;
    margin-top: 20px;
    .work-submit-btn {
      vertical-align: top;
      border: solid 1px #464E58;
      background-color: #ff6a5c;
      height: 40px;
      width: 120px;
      color: white;
      cursor: pointer;
    }
    .work-cancel-btn {
      display: inline-block;
      border: solid 1px #464E58;
      background-color: white;
      line-height: 40px;
      height: 40px;
      width: 120px;
      cursor: pointer;
    }
  }
  span {
    margin: 0;
  }
  div {
    width: 90%;
    margin: 0 auto;
  }
}


.work-add-container {
  margin-top: 30px;
  .work-add-btn {
    display: block;
    margin: 20px auto;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #fda299;
    width: 50px;
    height: 50px;
    background-color: #ff6a5c;
    cursor: pointer;
  }
}


.work-container {
  span {
    width: 50%;
    text-align: center;
  }

  .work-right-content {
    width: 49%;
    height: 300px;
    vertical-align: top;
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
    h1 {
      height: 55px;
      line-height: 55px;
    }

  }

  .work-scroll {
    width: 250px;
    height: 600px;
    overflow: scroll;

    ul li {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      height: 60px;
      line-height: 60px;
      border: solid 1px black;
    }

    .selected-work {
      background-color: lightgray;
    }
  }

  .work-content {
    height: 600px;
    width: calc(100% - 260px);
    vertical-align: top;
    position: relative;
    overflow: scroll;

    p.work-text {
      margin-left: 10px;
    }

    .work-edit-btns {
      text-align: right;
      svg.fa-edit {
        position: absolute;
          right: 15px;
          top: 15px;
        cursor: pointer;
      }
  
      button {
        font-weight: bold;
        height: 40px;
        width: 120px;
        font-size: 20px;
        margin-top: 4px;
        margin-right: 4px;
        text-align: center;
        border-style: none;
        border: solid 1px #464E58;
      }
  
      .work-edit-save-btn{
        background-color: #ff6a5c;
        color: white;
      }
  
      .work-edit-cancel-btn{
        color: #464E58;
      }
    }

    .work-right-content {
      .work-number-input {
        border: solid 1px lightgray;
        width: 55px;
      }

      .work-text-input {
        border: solid 1px lightgray;
      }
      .work-title-input {
        height: 55px;
        line-height: 55px;
        font-size: 2rem;
      }
    }

    .work-textarea-input {
      width: calc(100% - 20px);
      margin: 0 auto;
      font-size: 16px;
      border: solid 1px lightgray;
    }
  }
}
