<% if current_user %>
  <div class="selection-bar">
    <ul>
      <li class="inline-block selected-tab"><span class="inline-block about">About</span></li>
      <li class="inline-block"><span class="inline-block work">Work</span></li>
      <li class="inline-block"><span class="inline-block skill">Skill</span></li>
      <li class="inline-block"><span class="inline-block history">History</span></li>
    </ul>
  </div>
<% end %>

