<div class="selection-bar">
  <ul>
    <li class="inline-block about selected-tab"><span class="inline-block">About</span></li>
    <li class="inline-block work"><span class="inline-block">Work</span></li>
    <li class="inline-block skill"><span class="inline-block">Skill</span></li>
    <li class="inline-block history"><span class="inline-block">History</span></li>
  </ul>
</div>
